  {{!< default}} <section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/hero1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/hero2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/hero3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section>
        <div class="section-heading wow fadeInUp">
                        <h2>Mission</h2>
                    </div>
    </section>
  <section>
  <div class="container half-section">
            <div class="row">
                <div class="row align-children">
                    <div class="col-lg-5 col-md-12 col-md-offset-1 col-sm-12 order-sm-2 col-sm-offset-1">
                        <div class="container">
                            <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                                <h5>Une gestion immobilière maximale!</h5>
                            </div>
                            <div class="mb32">
                                <div class="about-content">
                                    <p class="wow fadeInUp" data-wow-delay="450ms">
                                     Avec l’équipe de Gestion ImmobiMax, l’administration de votre éventail immobilier sera entre bonnes mains. Notre mission : battre toute compétition grâce à nos prix les plus bas sur le marché, notre service, notre disponibilité, notre soutien, nos formations sur mesure et nos services adaptés à vos besoins.
                                    </p>

                                    <p class="wow fadeInUp" data-wow-delay="450ms">
                                        Nous sommes des gestionnaires certifiés. Nous connaissons tout le processus de
                                        gestion dans
                                        les
                                        moindres détails. Notre expérience combinée dans le domaine de l’immobilier, de
                                        la vente,
                                        de la
                                        logistique et de la gestion d’employés nous permet de résoudre une multitude de
                                        problèmes
                                        sur
                                        le champ.
                                    </p>
                                </div>
                            </div>
                        </div>
                           <div class="container">
                            <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                                <h5>Notre expérience</h5>
                            </div>
                            <div class="mb32">
                                <div class="about-content">
                                    <p class="wow fadeInUp" data-wow-delay="450ms">
                                      Nos connaissances et notre expertise pratique nous permettent de vous offrir une gestion organisée, simplifiée et à la hauteur des plus grandes firmes de gestion immobilière.

Nous sommes des gestionnaires certifiés. Nous connaissons tout le processus de gestion dans les moindres détails. Notre expérience combinée dans le domaine de l’immobilier, de la vente, de la logistique et de la gestion d’employés nous permet de résoudre une multitude de problèmes sur le champ.
                                    </p>

                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 order-md-2 col-sm-12 order-sm-1 text-center mb-xs-24">
                        <img class="img-responsive wow fadeInUp" data-wow-delay="350ms" alt="NOTRE EXPERIENCE" src="img/bg-img/mission1.jpg"
                            scale="">
                              <img class="img-responsive wow fadeInUp" data-wow-delay="350ms" alt="NOTRE EXPERIENCE" src="img/bg-img/mission2.jpg"
                            scale="">
                    </div>
                    <!--end of row-->
                </div> 
                
            </div>
        </div>

    </section>

    <section align=center>
        <div class="row justify-content-center" align=center>
  <div class="col-sm-3 ">
  <img class="img-responsive wow fadeInUp" data-wow-delay="350ms" alt="NOTRE EXPERIENCE" src="img/bg-img/mission3.jpg"
                            scale="">
  </div>

  <div class="col-sm-3">
  <img class="img-responsive wow fadeInUp" data-wow-delay="350ms" alt="NOTRE EXPERIENCE" src="img/bg-img/mission4.jpg"
                            scale="">
                            </div>
  <div class="col-sm-3">
 <img class="img-responsive wow fadeInUp" data-wow-delay="350ms" alt="NOTRE EXPERIENCE" src="img/bg-img/mission5.jpg"
                            scale="">
  </div>
 
</div>
</section>





