  {{!< default}} <section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/hero1.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/hero2.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/hero3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="hero-slides-content">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section>
        <div class="section-heading wow fadeInUp">
                        <h2>Mission</h2>
                    </div>
    </section>
  <section>
  <div class="container half-section">
            <div class="row">
                <div class="row align-children">
                    <div class="col-lg-5 col-md-12 col-md-offset-1 col-sm-12 order-sm-2 col-sm-offset-1">
                        <div class="container">
                            <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                                <h5> {{{data.categories.0.title}}}</h5>
                            </div>
                            <div class="mb32">
                                <div class="about-content">
                                    <p class="wow fadeInUp" data-wow-delay="450ms">
                                    {{{data.paragraphes.0.content}}}
                                  
                                    </p>
                                
                                    </p>
                                </div>
                            </div>
                        </div>
                           <div class="container">
                            <div class="section-heading text-left wow fadeInUp" data-wow-delay="250ms">
                                <h5>{{{data.categories.1.title}}}</h5>
                            </div>
                            <div class="mb32">
                                <div class="about-content">
                                    <p class="wow fadeInUp" data-wow-delay="450ms">
                                    {{{data.paragraphes.1.content}}}
                                    </p>

                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 order-md-2 col-sm-12 order-sm-1 text-center mb-xs-24">
                        <img class="img-responsive wow fadeInUp" data-wow-delay="350ms" alt="NOTRE EXPERIENCE" src="img/bg-img/mission1.jpg"
                            scale="">
                              <img class="img-responsive wow fadeInUp" data-wow-delay="350ms" alt="NOTRE EXPERIENCE" src="img/bg-img/mission2.jpg"
                            scale="">
                    </div>
                    <!--end of row-->
                </div> 
                
            </div>
        </div>

    </section>

    <section align=center>
        <div class="row justify-content-center" align=center>
  <div class="col-sm-3 ">
  <img class="img-responsive wow fadeInUp" data-wow-delay="350ms" alt="NOTRE EXPERIENCE" src="img/bg-img/mission3.jpg"
                            scale="">
  </div>

  <div class="col-sm-3">
  <img class="img-responsive wow fadeInUp" data-wow-delay="350ms" alt="NOTRE EXPERIENCE" src="img/bg-img/mission4.jpg"
                            scale="">
                            </div>
  <div class="col-sm-3">
 <img class="img-responsive wow fadeInUp" data-wow-delay="350ms" alt="NOTRE EXPERIENCE" src="img/bg-img/mission5.jpg"
                            scale="">
  </div>
 
</div>
</section>



